<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<array>
		<dict>
			<key>name</key>
			<string>ホーム</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>きれいにとい</string>
				</dict>
				<dict>
					<key>name</key>
					<string>チェックエアフィルター</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>レクリエーション</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>サイクリング</string>
				</dict>
				<dict>
					<key>name</key>
					<string>休暇を取った</string>
				</dict>
				<dict>
					<key>name</key>
					<string>クロスカントリー</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>車</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>チェックオイル</string>
				</dict>
				<dict>
					<key>name</key>
					<string>サービス</string>
				</dict>
				<dict>
					<key>name</key>
					<string>買ったガス</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>社会的な</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>ママと呼ばれる</string>
				</dict>
				<dict>
					<key>name</key>
					<string>夕食のゲスト</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>健康</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>変更歯ブラシ</string>
				</dict>
				<dict>
					<key>name</key>
					<string>散髪しました</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>ペット</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>ノミ薬</string>
				</dict>
				<dict>
					<key>name</key>
					<string>買った食品</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
