<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<array>
		<dict>
			<key>name</key>
			<string>Cat</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>Flea Medicine</string>
					<key>logEntries</key>
					<array>
						<dict>
							<key>note</key>
							<string></string>
							<key>value</key>
							<integer>0</integer>
							<key>date</key>
							<date>2012-01-03T02:30:23Z</date>
							<key>location</key>
							<dict>
								<key>longitude</key>
								<integer>0</integer>
								<key>latitude</key>
								<integer>0</integer>
							</dict>
						</dict>
						<dict>
							<key>note</key>
							<string></string>
							<key>value</key>
							<integer>0</integer>
							<key>date</key>
							<date>2011-12-16T02:30:23Z</date>
							<key>location</key>
							<dict>
								<key>longitude</key>
								<integer>0</integer>
								<key>latitude</key>
								<integer>0</integer>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Bought Food</string>
					<key>logEntries</key>
					<array>
						<dict>
							<key>note</key>
							<string></string>
							<key>value</key>
							<integer>29</integer>
							<key>date</key>
							<date>2012-01-17T02:30:23Z</date>
							<key>location</key>
							<dict>
								<key>longitude</key>
								<real>-122.63812</real>
								<key>latitude</key>
								<real>45.558999</real>
							</dict>
						</dict>
						<dict>
							<key>note</key>
							<string></string>
							<key>value</key>
							<integer>30</integer>
							<key>date</key>
							<date>2011-12-17T02:30:23Z</date>
							<key>location</key>
							<dict>
								<key>longitude</key>
								<real>-122.63812</real>
								<key>latitude</key>
								<real>45.558999</real>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Car</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>Service</string>
					<key>logEntries</key>
					<array>
						<dict>
							<key>note</key>
							<string>new radiator</string>
							<key>value</key>
							<integer>450</integer>
							<key>date</key>
							<date>2012-01-03T02:30:23Z</date>
							<key>location</key>
							<dict>
								<key>longitude</key>
								<real>-122.658405</real>
								<key>latitude</key>
								<real>45.517403</real>
							</dict>
						</dict>
						<dict>
							<key>note</key>
							<string>oil change</string>
							<key>value</key>
							<integer>30</integer>
							<key>date</key>
							<date>2011-06-02T01:30:23Z</date>
							<key>location</key>
							<dict>
								<key>longitude</key>
								<real>-122.658405</real>
								<key>latitude</key>
								<real>45.517403</real>
							</dict>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>Bought Gas</string>
					<key>logEntries</key>
					<array>
						<dict>
							<key>note</key>
							<string>mostly highway</string>
							<key>value</key>
							<integer>31</integer>
							<key>date</key>
							<date>2012-02-02T02:30:23Z</date>
							<key>location</key>
							<dict>
								<key>longitude</key>
								<real>-122.661624</real>
								<key>latitude</key>
								<real>45.577403</real>
							</dict>
						</dict>
						<dict>
							<key>note</key>
							<string></string>
							<key>value</key>
							<real>27.3</real>
							<key>date</key>
							<date>2012-02-21T02:30:23Z</date>
							<key>location</key>
							<dict>
								<key>longitude</key>
								<real>-122.658405</real>
								<key>latitude</key>
								<real>45.517403</real>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
