{
    "app_name": "Last Time.app", 
    "build_config": "Screenshots", 
    "destination_path": "/Users/james/Downloads/screenshots", 
    "devices": [
        "\"iPhone (Retina 3.5-inch)\"", 
        "\"iPhone (Retina 4-inch)\""
    ], 
    "languages": [
        "en","jp","de","fr","es"
    ], 
    "project_path": ".", 
    "target_name": "Last Time"
}