<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<array>
		<dict>
			<key>name</key>
			<string>nach Hause</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>Dachrinnen gereinigt</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Geprüft Luftfilter</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Erholung</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>Fahrt mit dem Fahrrad</string>
				</dict>
				<dict>
					<key>name</key>
					<string>nahm Urlaub</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Langlauf</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Auto</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>geprüft Oil</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Service</string>
				</dict>
				<dict>
					<key>name</key>
					<string>gekauft Gas</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Soziale</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>Mom angerufen</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Gäste zum Abendessen</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Gesundheit</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>geändert Zahnbürste</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Got Haircut</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Haustier</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>Flohmedizin</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Lebensmittel gekauft haben</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
