<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<array>
		<dict>
			<key>name</key>
			<string>Casa</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>Canales limpios</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Chequeado filtro de aire</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Recreación</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>Paseo en bicicleta</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Tomó Vacaciones</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Esquí de fondo</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Coche</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>Petróleo Chequeado</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Servicio</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Gas comprado</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Social</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>Llamado mamá</string>
				</dict>
				<dict>
					<key>name</key>
					<string>invitados a la cena</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Salud</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>Cepillo de dientes cambiado</string>
				</dict>
				<dict>
					<key>name</key>
					<string>tiene corte de pelo</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Mascotas</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>Flea Medicina</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Alimentos Comprados</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
