<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Root</key>
	<array>
		<dict>
			<key>name</key>
			<string>Domicile</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>Gouttières nettoyées</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Vérifié Filtre à air</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Récréation</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>promenade à vélo</string>
				</dict>
				<dict>
					<key>name</key>
					<string>pris de vacances</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Ski de fond</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Voiture</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>huile vérifié</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Service</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Gaz Acheté</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Social</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>Appelé maman</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Convives</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Santé</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>brosse à dents changé</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Got Haircut</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>animal de compagnie</string>
			<key>events</key>
			<array>
				<dict>
					<key>name</key>
					<string>Flea médecine</string>
				</dict>
				<dict>
					<key>name</key>
					<string>acheté de la nourriture</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
