<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Last Time.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>RandomEvent.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>RandomEventFolder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>RandomLogEntry.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3904CF9E14C078E200B7396A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3950E86414BFE0AB009C6F6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39861AA414BD526D006F30A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39861ABD14BD5D9D006F30A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39D70CB114BD3515009C3615</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>39D70CCE14BD3515009C3615</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
